//====================================================================================================

.header {
	background: #1A1A1A;	
	color: #fff;
	@media (max-width:$mobile){
		position: relative;
		&::before{
			content:'';
			position: absolute;
			width: 100%;
			height: rem(70);
			background: #1A1A1A;
			z-index: 2;
		}
	}
	
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: rem(70);
		border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
	}

	&__logo {
		z-index: 2;
	}

	&__menu {
		
		
	}

	&__item {
		
	}
	
	
	&__link {
		position: relative;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0.32px;
		text-transform: uppercase;
			--item-percent: calc(
				var(--item-index) / var(--item-total)
			);
			animation: slide-in .8s cubic-bezier(.2,.0,.2,1) both;
				animation-delay: calc(.2s * var(--item-index));
				
				@media (any-hover: hover){
					&::before {
						content: '';
						position: absolute;
						width: 100%;
						height: rem(2);
						border-radius: rem(2);
						background-color: #c6dd43bd;
						bottom: rem(-2);
						left: 0;
						transform-origin: right;
						transform: scaleX(0);
						transition: transform .2s ease-in-out;
					  }
					&:hover{
						&:hover::before {
							transform-origin: left;
							transform: scaleX(1);
						}
					}
				}
		}
		
		
		
		
	}
	
	@keyframes show {
		from { opacity: 0; }
		to { opacity: 1; }
	  }
.menu {
	display: flex;
	align-items: center;

	&__icon {
		
	}

	&__body {
		
		@media (max-width:$mobile) {
			position: fixed;
			left: 0;
			top: -100%;
			width: 100%;
			height: 50%;
			background: #1A1A1A;
			padding: rem(90) rem(20) rem(30) rem(15);
			transition: all 0.5s ease 0s;
			&::before{
				content:'';
				position: fixed;
				top: 0;
				left: -100%;
				width: 100%;
				height: rem(70);
				background-color: #1A1A1A;
				z-index: 1;
			}
			.menu-open &{
				top: 0;
				
				&::before{
					content:'';
					top: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		@media (max-width:$mobile){
			flex-direction: column; 
			gap: rem(38);
	   }
		gap: rem(28);
	}
}

//====================================================================================================

	
		
		
		
	


				
			
		
//Burger

.icon-menu {
	display: none;
	
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(19.5);
		height: rem(8.5);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			&::before{
				content:'';
				position: absolute;
				width: rem(40);
				height: rem(40);
				border: #414141 1px solid;
				border-radius: 50%;
				.menu-open & {
					left: rem(-11);
				}
			}
		}
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #ffffff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
  
  @keyframes slide-in {
	from {
	  transform: scale(.8) translateY(1em);
	  opacity: 0.05;
	}
  }