@font-face {
	font-family: HubotSans;
	font-display: swap;
	src: url("../fonts/HubotSans-Bold.woff2") format("woff2"), url("../fonts/HubotSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: HubotSans;
	font-display: swap;
	src: url("../fonts/HubotSans-Light.woff2") format("woff2"), url("../fonts/HubotSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: HubotSans;
	font-display: swap;
	src: url("../fonts/HubotSans-SemiBold.woff2") format("woff2"), url("../fonts/HubotSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: HubotSans;
	font-display: swap;
	src: url("../fonts/HubotSans-Regular.woff2") format("woff2"), url("../fonts/HubotSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HubotSans;
	font-display: swap;
	src: url("../fonts/HubotSans-Medium.woff2") format("woff2"), url("../fonts/HubotSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
//=======================//
@font-face {
	font-family: Panchang;
	font-display: swap;
	src: url("../fonts/Panchang-Bold.woff2") format("woff2"), url("../fonts/Panchang-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Panchang;
	font-display: swap;
	src: url("../fonts/Panchang-Medium.woff2") format("woff2"), url("../fonts/Panchang-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Panchang;
	font-display: swap;
	src: url("../fonts/Panchang-Semibold.woff2") format("woff2"), url("../fonts/Panchang-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
