.page {

    
}
.services-industries {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:$tablet){
            flex-direction: column;
        }
    }

    &__content {
        &:not(:last-child) {
            @media (min-width:$tablet){
                border-right: #D0D0D0 rem(1) solid;
            }
        }
        
    }

    &__name {
        padding-top: rem(60);
        @include adaptiveValue("padding-bottom",40 ,32 );
        &:not(:last-child){
            padding-left: rem(15);
        }
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("min-width",640 ,180 );
        border-top: #D0D0D0 rem(1) solid;
        @media (max-width:$tablet){
            width: 100vw;
        }
        &:last-child {
            border-bottom:  #D0D0D0 rem(1) solid;
        }
    }
}
.card-services-industries {

    &__num {
        @media (max-width:$mobile){
             display: none; 
        }
    }

    &__text {
        padding: rem(60) rem(0);
        max-width: rem(482);
        @media (max-width:$tablet){
            padding-left: rem(15);
        }
    }

    &__arrow {
        @include adaptiveValue("padding-right",40 ,0 );
        
    }
}

//========================================================================================================================================================
.cards-name{
    color: #121212;
    font-size: rem(16);
    font-weight: 500;
    
    line-height: 150%;

    opacity: 0.6;

}
.num-card{
    color:#121212;
        font-size: rem(20);
        font-weight: 400;

        font-style: normal;
        
        line-height: 150%;
        opacity: .6;

}
.text-card{
    font-family: Panchang;
    color: #121212;

        @include adaptiveValue("font-size",32 ,20);
        font-weight: 700;

        line-height: 112.5%;
        @include adaptiveValue("letter-spacing",-0.32 ,-0.2 );

        text-transform: uppercase;

}
.arrow-card{

}

.p-44 {

}

.circle-btn{
    background: #121212;
    border-radius: 50%;
    @include adaptiveValue("width",120 ,80 );
    @include adaptiveValue("height",120 ,80 );
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        @include adaptiveValue("width",48 ,32 );
        @include adaptiveValue("height",48 ,32);
    }
}

//========================================================================================================================================================

.funding {

    &__container {
    }

    &__text {
        font-family: Panchang;
        color: #121212;

        @include adaptiveValue("font-size",64 ,32 );
        font-weight: 700;

        line-height: 106.25%;
        @include adaptiveValue("letter-spacing",-0.64 ,-0.32 );

        text-transform: uppercase;

        max-width: rem(892);
        @include adaptiveValue("padding-bottom",80 ,48);
    
        &._watcher-view {
            animation: char-in .7s cubic-bezier(.2,0,.2,1) backwards;
            animation-delay: calc(.2s * var(--word-index));
            @keyframes char-in {
                from {
                    transform: translateY(20px);
                    opacity: 0; 
                }
            }
        }
    }

    &__content {
        
        display: flex;
        flex-direction: column;
        @media (min-width:$mobile){
            margin-left: 20%;
            border-left: rem(1) solid #D0D0D0;
        }
    }
}
.content-funding {

    &__p-44 {
        color: #121212;

        @include adaptiveValue("font-size",44 ,20 );
        font-weight: 400;

        line-height: 127.273%;
        @include adaptiveValue("letter-spacing",-0.44 ,-0.20 );
        &:not(:first-child) {
            @include adaptiveValue("padding-top",60 ,48 );
        }
        &:nth-last-child(2){
            @include adaptiveValue("padding-bottom",76 ,40);
        }
        @media (min-width:$mobile){
            &:first-child{
                @include adaptiveValue("padding-left",181 ,80 );
            }
            &:nth-last-child(2){
                @include adaptiveValue("padding-left",40 ,10 );
                @include adaptiveValue("padding-bottom",76 ,40);
            }
        }
        &._watcher-view{
            animation: char-in .7s cubic-bezier(.2,0,.2,1) backwards;
            animation-delay: calc(.2s * var(--word-index));
            @keyframes char-in {
                from {
                    transform: translateY(20px);
                    opacity: 0; 
                }
            }
        }
    }

    &__cards {
    }

    &__btn{
        @media (min-width:$mobile){
        @include adaptiveValue("margin-left",40 ,10 ); 
        }
        margin: 0 auto;
    }
}

.cards-content-funding {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width:$mobile){
        padding-left: rem(40);
    }
    &__name {
        @include adaptiveValue("padding-top",76 ,48 );
        @include adaptiveValue("padding-bottom",20 ,16 );
    }

    &__card {
        display: flex;
        align-items: center;
        gap: rem(35);
        
        @media (min-width:$mobile){
            @include adaptiveValue("padding-left",200 ,100 );
        }
        border-top:  #D0D0D0 rem(1) solid;
        &:last-child {
            border-bottom:  #D0D0D0 rem(1) solid;
        }
    }
}

.card-content-funding {

    &__num {
    }

    &__text {
        @include adaptiveValue("padding-top",45 ,24 );
        @include adaptiveValue("padding-bottom",45 ,24 );
        &._watcher-view {
            opacity: 1;
            animation: slideLeft 1.3s cubic-bezier(.2,0,.2,1) backwards;
            animation-delay: .1s;
            
        @keyframes slideLeft {
            from {
                transform: translateX(-30px);
                opacity: 0; 
            }
        }
        }
    }

    &__arrow {
    }
}
